body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn-modern{
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background-color: lightblue;
    cursor: pointer;
    transition: all 0.4s;
}

.btn-modern:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.405);
    background-color: rgb(131, 199, 222);
    color: white;
}